<%= form_for @picture  do |f| %>
  <div class="form_field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="form_field">
    <%= f.label :artist %><br>
    <%= f.text_field :artist %>
  </div>

  <div class="form_field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>

  <div class="form_field">
    <%= f.submit %>
  </div>
<% end %>