

<nav>
<ul>
<li><a href="/">Home</a></li>
<li><%= link_to "New Picture", "/pictures/new" %></li>
<li><%= link_to "Edit", edit_picture_path(@picture) %></li>
<li><%= link_to 'Delete', picture_path(@picture),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></li>
</ul>
</nav>

<h2><%= @picture.title %></h2>

<article class="showpic">
  <div class="caption">
  <div class="title">Title: <%= @picture.title %></div>
  <div class="artist">Artist: <%= @picture.artist %></div>
  </div>
  <img src="<%= @picture.url %>">

</article>